matplotlib==3.3.1
mido==1.2.9
music21==6.1.0
notebook==6.1.1
numexpr==2.7.1
numpy==1.19.1
pretty-midi==0.2.9
pypianoroll==0.5.3
scipy==1.5.2
thinc==7.4.1
torch==1.4.0
torchvision==0.2.1
tornado==6.0.4
tqdm==4.49.0

