body {
    font-size: 16px;
    /* background-color: whitesmoke; */
    /* font-family: "Open Sans"; */
  }

.header{
    text-align: left;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background-color: cyan;
    background-image: linear-gradient(120deg, purple, cyan);
}

.header .project-name{
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.btn-outline-dark {
    color: whitesmoke;
    border-color: whitesmoke;
}

.content{
    margin-top:30px;
    width:100%;
}

.content h2{
    margin-bottom: 1rem;
    font-weight: bold;
    color: #6495ED;
    font-size: 1.5em;
}

.content p{
    margin-bottom: 1em;
}

.block {
    margin-bottom: 1rem;
}

.media-blk{
    display:flex;
    margin-bottom: 2rem;

}

.media-blk img{
    max-width:100%;
    object-fit: contain;
}

.media-blk h5{
    font-size: 0.8em;
}

.media-blk small{
    font-weight: bold;
}

.media-blk .contour{
    display:flex;
    flex:1;
}

.media-blk .song{
    padding-left: 1em;
    flex-direction: column;
    flex:2;
}

.song video{
    flex:1;
    width: 100%;
}

/* video::-webkit-media-controls-panel {
    background-image: none !important;
    filter: brightness(0.5);
    opacity: 0.6 !important;
} */

.wrapper{
    flex-direction: column;
    position:relative;
}

.playpause {
    background-image:url('../media/play_pause.png');
    background-repeat:no-repeat;
    width:20%;
    height:20%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

@media screen and (max-width: 42em) {
    .header{
        padding: 2rem 1rem;
    }
    .project-name {
        font-size: 1.75rem;
    }
    .content {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .header {
        padding: 3rem 4rem;
    }
    .project-name {
        font-size: 2.25rem;
    }
    .content {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }
    .media-blk h5{
        font-size: 1em;
    }
}

@media screen and (min-width: 64em){
    .header {
        padding: 5rem 6rem;
    }
    .project-name {
        font-size: 3.25rem;
    }
    .content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
    .media-blk h5{
        font-size: 1em;
    }

}